@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .navigation {
    display: flex;
    padding-block: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    color: rgb(55 65 81 / 1);
    border-radius: 0.25rem;
  }
}
